#Ignore Admin and Includes Directories
wp-admin/
wp-includes/

#Ignore Uploads Directory
wp-content/uploads/

#Ignore PHP and TXT files
*.php
*.txt

#Do not ignore themes directory
!wp-content/themes/accelerate-theme-child
