#Ignore Admin and Includes Directories
wp-admin/
wp-includes/

#Ignore Uploads Directory
wp-content/uploads
wp-content/upgrade
wp-content/plugins

#Ignore PHP and TXT files
*.php
*.txt



#Ignore Content Directory except themes directory

!wp-content/themes/accelerate-theme-child
